# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  push:
    branches:
      - staging
    paths-ignore:
      - DockerfileForSkip
      - .github/workflows/skip-deploy.yml
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only -x tests
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}